<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue To Do List</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css'
        integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=='
        crossorigin='anonymous' />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
    <!-- header -->
    <header>
        <h1 class="text-center my-3">TO DO LIST</h1>
    </header>
    <!-- main -->
    <div id="root">
        <main>
            <div class="container">
                <!-- input form in alto-->
                <div class="row">
                    <div v-if="!toDoList.length" class="col-12 col-lg-6 offset-lg-3">
                        <div class="input-group my-3">
                            <input v-on:keyup.enter="addItem" v-model="newItem" type="text" class="form-control"
                                placeholder="Digita qui...">
                            <input v-model="newDate" type="date" class="form-control">
                            <button v-on:click="addItem" class="btn btn-outline-danger" type="button">Aggiungi</button>
                        </div>
                    </div>
                    <div v-else class="col-12 col-lg-6 offset-lg-3">
                        <div class="input-group mb-3">
                            <input v-model="searchItem" type="text" class="form-control" placeholder="Cerca...">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                    </div>
                </div>

                <!-- to do list -->
                <div id="to-do-section" class="row my-5">
                    <div class="col-12 offset-lg-2 col-lg-8">
                        <h3 v-if="!toDoList.length" class="text-center text-danger my-4">Nessun elemento presente
                            nella lista</h3>
                        <ul v-else class="list-group list-group-flush my-4">
                            <li v-for="(item, index) in toDoList" v-if="filterItem(item.text)"
                                class="list-group-item d-flex align-items-center justify-content-between">
                                <div>
                                    <i v-on:click="toggleDone(index)"
                                        v-bind:class="isSelected(index) ? 'fa-check-square' : 'fa-square'"
                                        class="far"></i>
                                    <span v-bind:class="isSelected(index) ? 'text-decoration-line-through' : ''">
                                        {{item.text}}</span>
                                </div>
                                <button v-on:click="removeItem(index)" type="button" class="btn-close"></button>
                            </li>
                            <!-- input form in basso -->
                            <li class="list-group-item">
                                <div v-if="isActive" class="d-grid gap-2 my-3">
                                    <button v-on:click="toggleAddInput" class="btn btn-success" type="button">
                                        Aggiungi <i class="fas fa-plus ms-2"></i>
                                    </button>
                                </div>
                                <div v-else class="input-group my-3">
                                    <input v-on:keyup.enter="addItem" v-model="newItem" type="text" class="form-control"
                                        placeholder="Digita qui...">
                                    <input v-model="newDate" type="date" class="form-control">
                                    <button v-on:click="addItem" class="btn btn-outline-danger" type="button">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                    <button v-on:click="toggleAddInput" class="btn btn-outline-secondary" type="button">
                                        <i class="fas fa-undo-alt"></i>
                                    </button>
                                </div>
                            </li>
                        </ul>
                        <h3 v-if="toDoList.length" class="text-center text-danger my-4">La lista contiene {{
                            toDoList.length }} elementi</h3>
                    </div>
                    <!-- bottoni seleziona tutto, deseleziona tutto e svuota lista -->
                    <div class="col-12 offset-lg-2 col-lg-8">
                        <div class="btn-group w-100" role="group" aria-label="Basic example">
                            <button v-on:click="selectAll" type="button" class="btn btn-success">Seleziona
                                Tutti</button>
                            <button v-on:click="deselectAll" type="button" class="btn btn-success">Deseleziona
                                Tutti</button>
                            <button v-on:click="deleteAll" type="button" class="btn btn-success">Svuota Lista</button>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script src="./js/script.js"></script>
</body>

</html>